@mixin tablet {
  @media (min-width: 768px) { @content; }
}

@mixin screen-sm {
  @media (min-width: 1000px) { @content; }
}

@mixin screen-md {
  @media (min-width: 1200px) { @content; }
}

@mixin media($min, $max: null) {
  @if $max == null {
    @media (min-width: $min) { @content; }
  }

  @else {
    @media (min-width: $min) and (max-width: $max) { @content; }
  }
}

@mixin flexbox-centered($inline: false) {
  @if $inline == 'inline' {
    display: inline-flex;
  }

  @else { display: flex; }
  align-items: center;
  justify-content: center;
}

@mixin flexbox-row($align) {
  display: flex;
  align-items: $align;
  justify-content: space-between;
}

@mixin ul-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
