// Colors
$bright-red: hsl(12, 88%, 59%);
$dark-blue: hsl(228, 39%, 23%);
$grayish-blue: hsl(227, 12%, 61%);
$very-dark-blue: hsl(233, 12%, 13%);
$pale-red: hsl(13, 100%, 96%);
$light-gray: hsl(0, 0%, 98%);
$pale-bright-red: #f99073;
