@import './helpers/variables';
@import './helpers/mixins';

/** General */

html {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  font: {
    family: 'Be Vietnam', arial, sans-serif;
    size: 1.5rem;
  };
  line-height: 1.625;
  background: #fff;
  color: $grayish-blue;
  overflow-x: hidden;

  @include screen-sm {
    font-size: 1.6rem;
  }
}

.heading {
  margin: 0;
  color: $dark-blue;
  font-weight: 700;
  line-height: 1.2;

  &_h1 {
    font-size: 3.8rem;

    @include screen-sm {
      font-size: 5.4rem;
    }
  }

  &_h2 {
    font-size: 3rem;

    @include screen-sm {
      font-size: 3.9rem;
    }
  }

  &_h3 {
    font-size: 100%;
  }

  &_white {
    color: #fff;
  }
}

.link {
  text-decoration: none;
  transition: 0.5s;
}

.screen-reader {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  border: 0;
  padding: 0;
}

.container {
  width: calc(100% - 50px);
  max-width: 1110px;
  margin: 0 auto;
}

/** Logo */
.logo {
  &__img {
    width: 100%;
    max-width: 14.6rem;
    display: block;
  }
}

/** Button */
.button {
  @include flexbox-centered('inline');
  height: 4.4rem;
  border-radius: 2.2rem;
  background: $bright-red;
  font: {
    size: 1.3rem;
    weight: 700;
  }
  color: #fff;
  padding: 0 3.2rem;
  box-shadow: 0 1.6rem 1rem -0.8rem rgba($bright-red, 0.25);

  &:hover {
    background: $pale-bright-red;
  }

  &_inverted {
    background: #fff;
    color: $bright-red;

    &:hover {
      background: #fff;
      color: $pale-bright-red;
    }
  }
}

/** Header */
.header {
  position: relative;
  padding: 3.2rem 0;

  @include screen-sm {
    padding: 5.6rem 0;
  }

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 81.4rem;
    background-image: url("../images/bg-tablet-pattern.svg");
    background-repeat: no-repeat;
    background-size: 125% auto;
    background-position: calc(50% + 25vw) -30vw;
    top: 0;
    right: 0;
    z-index: -1999;

    @include media(475px) {
      background-size: 57rem auto;
      background-position: calc(50% + 25vw) -30vw;
    }

    @include media(530px) {
      background-position: calc(50% + 20vw) -25vw;
    }

    @include tablet {
      background-size: 70% auto;
      background-position: calc(50% + 40vw) -20vw;
    }

    @include screen-sm {
      background-position: calc(50% + 40vw) -12vw;
    }

    @include screen-md {
      background-size: auto;
      background-position: calc(50% + 46rem) -15.4rem;
    }
  }

  &__container {
    @include flexbox-row(center);
  }

  &__logo {
    width: 12rem;
    margin-top: 1.3rem;

    @include tablet {
      width: auto;
    }
  }

  &__cta-button {
    display: none;

    @include screen-sm {
      display: flex;
    }
  }

  &__menu-button {
    @include flexbox-centered;
    width: 2.5rem;
    height: 2rem;
    padding: 0;
    border: 0;
    background: none;
    z-index: 99;

    @include screen-sm {
      display: none;
    }

    &_hidden {
      display: none;
    }
  }

  &__menu-icon {
    fill: $dark-blue;

    &:hover {
      fill: $bright-red;
    }

    &_hamburger {
      width: 2.5rem;
      height: 1.8rem;
    }

    &_close {
      width: 2.1rem;
      height: 2rem;
    }
  }
}

/** Popup nav */
.popup-nav {
  position: absolute;
  display: none;
  width: 100%;
  height: 100vh;
  overflow: auto;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom, transparent, rgba(#000, 0.7));
  z-index: 5;

  @include screen-sm {
    display: none;
  }

  &_active {
    display: block;
  }

  &__menu {
    background: #fff;
    border-radius: 0.5rem;
    margin: 10rem 2.5rem 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem;
  }

  &__link {
    font: {
      size: 1.6rem;
      weight: 700;
    }
    color: $dark-blue;

    &:hover {
      color: $bright-red;
    }

    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }
}

/** Primary nav */
.nav-menu {
  display: none;

  @include screen-sm {
    display: flex;
  }

  &__link {
    color: $dark-blue;

    @include screen-sm {
      font: {
        size: 1.3rem;
        weight: 500;
      }

      &:not(:last-child) {
        margin-right: 3.5rem;
      }
    }

    &:hover {
      color: $grayish-blue;
    }
  }
}

/** Flex container */
.flex-row {
  @include tablet {
    @include flexbox-row(center);
  }

  &__col {
    text-align: center;

    @include tablet {
      flex-basis: calc(50% - 1.5rem);
      text-align: left;
    }
  }
}

/** Intro */
.intro {
  padding-bottom: 4rem;

  @include screen-sm {
    padding: 5.4rem 0;
  }

  &__container {
    @include tablet {
      flex-direction: row-reverse;
    }
  }

  &__text {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;

    @include screen-sm {
      margin: 3.4rem 0 4rem;
      max-width: 35rem;
    }
  }

  &__img {
    width: 100%;
    max-width: 42rem;
    display: block;
    margin: 0 auto;

    @include tablet {
      max-width: none;
      margin: 0;
      width: 107%;
      margin-left: -3.5%;
      margin-bottom: -1.8rem;
    }
  }
}

/** Features */
.features {
  padding: 5rem 0;
  position: relative;

  @include screen-sm {
    padding: 6.8rem 0;
  }

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 81.4rem;
    background-image: url("../images/bg-tablet-pattern.svg");
    background-repeat: no-repeat;
    background-size: 90% auto;
    background-position: calc(50% + 55vw) top;
    top: -70vw;
    right: 0;
    z-index: -1999;

    @include media(530px) {
      top: -37rem;
      background-size: 47.7rem auto;
      background-position: calc(50% + 60vw) top;
    }

    @include tablet {
      top: 20vw;
      background-size: 70% auto;
      background-position: calc(0% - 50vw) bottom;
    }

    @include screen-sm {
      top: 35vw;
    }

    @include screen-md {
      top: 35.4rem;
      background-size: auto;
      background-position: calc(50% - 81.6rem) bottom;
    }
  }

  &__content {
    align-self: flex-start;
  }

  &__text {
    margin-bottom: 6rem;

    @include screen-sm {
      max-width: 35rem;
      margin-top: 3rem;
      margin-bottom: 0;
    }
  }
}

/* Feature */
.feature {
  text-align: left;

  &:not(:last-child) {
    margin-bottom: 4rem;
  }

  &__title {
    background: $pale-red;
    display: flex;
    height: 3.8rem;
    line-height: 3.6rem;
    overflow: hidden;
    width: calc(100% + 2.5rem);
    border-radius: 2rem 0 0 2rem;

    @include screen-sm {
      background: none;
      width: 100%;
    }

    &::before {
      content: attr(data-number);
      background: $bright-red;
      color: #fff;
      width: 6.7rem;
      height: 100%;
      text-align: center;
      border-radius: 1.9rem;
      margin-right: 1rem;

      @include screen-md {
        margin-right: 2.8rem;
      }
    }
  }

  &__text {
    margin-top: 1rem;
    margin-bottom: 0;

    @include screen-md {
      margin-left: 9.5rem;
    }
  }
}

/** Testimonials */
.testimonials {
  text-align: center;
  padding: 3rem 0 4rem;

  @include screen-sm {
    padding-bottom: 10rem;
  }

  @include screen-md {
    padding: 7.8rem 0 18rem;
  }

  &__carousel {
    margin-top: 6rem;
    margin-bottom: 4rem;

    @include tablet {
      margin-top: 7.6rem;
      margin-bottom: 4.8rem;
    }
  }

  &__slides {
    margin: 0;
  }

  &__bullets {
    display: flex;
    justify-content: center;
    margin-top: 2.5rem;

    @include tablet {
      display: none;
    }
  }

  &__bullet {
    display: block;
    width: 0.8rem;
    height: 0.8rem;
    background: #fff;
    border: 0.1rem solid $bright-red;
    border-radius: 50%;
    padding: 0;
    margin: 0 0.3rem;
    outline: 0;

    &_active {
      background: $bright-red;
    }
  }
}

/* Testimonial */
.testimonial {
  background: $light-gray;
  margin-top: 3.6rem;
  height: auto;
  cursor: grab;

  &__img {
    width: 7.2rem;
    height: auto;
    margin-top: -3.6rem;
    margin-bottom: 2rem;
  }

  &__text {
    margin: 1.9rem 3rem 4.2rem;

    &::before {
      content: '“';
    }

    &::after {
      content: '”';
    }
  }
}

/** CTA */
.cta {
  background-color: $bright-red;
  background-image: url(../images/bg-simplify-section-mobile.svg);
  background-repeat: no-repeat;
  background-position: left;
  text-align: center;
  padding: 8rem 0;

  @include tablet {
    text-align: left;
    background-image: url(../images/bg-simplify-section-desktop.svg);
    background-repeat: no-repeat;
    background-position: calc(50% + 25.5rem) bottom;
    padding: 6rem 0;
  }

  @include screen-sm {
    padding: 6.1rem 0 6.7rem;
  }

  &__title {
    margin-bottom: 3rem;
    font-size: 3.9rem;

    @include tablet {
      margin-bottom: 0;
      max-width: 50%;
    }
  }
}

/** Footer */
.footer {
  position: relative;
  background-color: $very-dark-blue;
  color: #fff;
  font-size: 1.2rem;
  padding: 5rem 0;

  @include tablet {
    padding: 6.2rem 0;
  }

  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      'form form'
      'nav1 nav2'
      'socials socials'
      'logo logo'
      'copyright copyright';
    grid-gap: 5rem 2rem;

    @include tablet {
      grid-template-columns: 1fr 0.8fr 0.8fr 24rem;
      grid-template-areas:
        'logo nav1 nav2 form'
        'socials nav1 nav2 copyright';
      grid-gap: 0 4rem;
    }

    @include screen-sm {
      grid-template-columns: 1fr 1fr 1fr 27.2rem;
      grid-template-areas:
        'logo nav1 nav2 form'
        'socials nav1 nav2 copyright';
    }
  }

  &__logo {
    grid-area: logo;
    justify-self: center;

    @include tablet {
      justify-self: stretch;
    }
  }

  &__nav {
    justify-self: center;

    @include tablet {
      justify-self: stretch;
    }

    &_col-1 {
      grid-area: nav1;
    }

    &_col-2 {
      grid-area: nav2;
    }
  }

  &__socials {
    grid-area: socials;
    justify-self: center;

    @include tablet {
      align-self: end;
      justify-self: stretch;
    }
  }

  &__form {
    grid-area: form;

    @include screen-sm {
      margin-top: 0.3rem;
    }
  }

  &__copyright {
    grid-area: copyright;
    color: $grayish-blue;
    justify-self: center;

    @include tablet {
      align-self: end;
      justify-self: end;
    }
  }
}

/** Secondary nav */
.nav-list {
  @include ul-reset;

  &__item {
    &:not(:last-child) {
      margin-bottom: 1.3rem;
    }
  }

  &__link {
    color: #fff;
    font-size: 1.4rem;

    &:hover {
      color: $bright-red;
    }
  }
}

/** Subscription form */
.form {
  display: flex;
  position: relative;

  &__input {
    height: 4.4rem;
    width: 100%;
    border: 0;
    border-radius: 2.2rem;
    font: inherit;
    color: $dark-blue;
    padding: 0 2rem;
    margin-right: 0.8rem;
    box-sizing: border-box;

    &::placeholder {
      color: $grayish-blue;
    }
  }

  &__button {
    border: 0;
    font: {
      family: inherit;
      size: 1.3rem;
      weight: 700;
    }
    padding: 0 2.3rem;
    transition: 0.5s;
    box-shadow: none;
    cursor: pointer;
  }

  &__error {
    font: {
      size: 1.1rem;
      style: italic;
    };
    line-height: 1;
    color: crimson;
    position: absolute;
    bottom: -1.8rem;
    left: 1.5rem;
  }
}

/** Social icons */
.socials {
  display: flex;

  &__icon {
    width: 3rem;
    height: 3rem;
    fill: #fff;
    transition: 0.5s;

    @include tablet {
      width: 2rem;
      height: 2rem;
    }
  }

  &__link {
    line-height: 1;

    &:not(:last-child) {
      margin-right: 2.5rem;
    }

    @include tablet {
      margin: 0;

      &:not(:last-child) {
        margin-right: 1.35rem;
      }
    }
  }

  &__link:hover &__icon {
    fill: $bright-red;
  }
}

/** Attribution */
.attribution {
  position: absolute;
  bottom: 1rem;
  width: 100%;
  text-align: center;
  font-size: 1.1rem;
  line-height: 1.2;
  color: $grayish-blue;

  &__link {
    color: hsl(228, 45%, 44%);

    &:hover {
      color: $bright-red;
    }
  }
}
